.App {
    text-align: center;
}

* {
    background-color: burlywood;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.f-wrap {
    flex-wrap: wrap;
}

.flex-grow1 {
    flex: 1;
}

.flex-grow2 {
    flex: 2;
}

.flex-grow3 {
    flex: 3;
}

.flex-grow4 {
    flex: 4;
}

.flex-grow5 {
    flex: 5;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-evenly {
    justify-content: space-evenly;
}

.j-start {
    justify-content: start;
}

.j-end {
    justify-content: end;
}

.j-around {
    justify-content: space-around;
}

.a-center {
    align-items: center;
}

.a-start {
    align-content: flex-start;
}

.a-around {
    align-content: space-around;
}

.j-space {
    justify-content: space-around;
}

.d-none {
    display: none;
}


button {
    cursor: pointer;
    padding: 5px 15px;
    margin: 10px;

}

.pointer {
    cursor: pointer;
}

.text-left {
    text-align: left;
}

.text-nondec {
    text-decoration: none;
}

.pl-20 {
    padding-left: 20px;
}

.mv-5 {
    margin: 5px 0;
}

.mh-20 {
    margin-left: 20px;
    margin-right: 20px;
}


.user-info {
    padding: 10px;
    margin-right: 100px;
}

.card {
    width: 90%;
    max-height: 200px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #17171a;

}

.post-img {
    width: 100px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;

}



.littlepic {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;

}

.auction {

}
.auction img {
    height: 150px;
    width: 150px;
}